--DECLARE @JULIAN_END_DATE CHAR(8)
--SET @JULIAN_END_DATE = '20130327';

--DECLARE @REPORT_MONTHS INT
--SET @REPORT_MONTHS = 2;

--DECLARE @REPORT_WEEKS INT
--SET @REPORT_WEEKS = 4;

--DECLARE @REPORT_DAYS INT
--SET @REPORT_DAYS = 8;


DECLARE @JULIAN_START_DATE CHAR(8)
SET @JULIAN_START_DATE = CONVERT(CHAR(8),DATEADD(DAY,(-(@REPORT_MONTHS * 31 * 2 + @REPORT_WEEKS * 7 + @REPORT_DAYS + 2)),CONVERT(DATE,@JULIAN_END_DATE,112)),112);


DECLARE @BANGUI TABLE
(
	NO INT,
	BANGUI VARCHAR(50) 
)

INSERT INTO @BANGUI
(NO, BANGUI)
VALUES
	(1,'欺诈信息'),
	(2,'违法信息'),
	(3,'违禁信息'),
	(4,'低俗信息'),
	(5,'错类信息'),
	(6,'重复信息'),
	(7,'类目发布超限'),
	(8,'城市发布超限'),
	(9,'故意躲避审查规则')

SELECT
	A.JULIAN_DATE,
	B.NO,
	B.BANGUI
INTO
	#BANGUI_DATE
FROM
	BAIXING_ODS..DIM_TIME AS A
	CROSS JOIN
	@BANGUI AS B
WHERE
	JULIAN_DATE BETWEEN @JULIAN_START_DATE AND @JULIAN_END_DATE


SELECT C.JULIAN_DATE AS JULIAN_DATE,
		C.BANGUI,
		C.NO as sort,
		ISNULL(NUM, 0) AS NUM,
		ISNULL(SHENSU, 0) AS SHENSU
INTO #SHENSU
FROM
(
	SELECT 
		[JULIAN_DATE]
		,RULES
		,[NUM]
	FROM 
		BAIXING_RPT..RPT_ZHILIANG_RULES
	WHERE 
		JULIAN_DATE BETWEEN @JULIAN_START_DATE AND @JULIAN_END_DATE
)AS A
INNER JOIN
(
	SELECT 
		JULIAN_SHENSU_DATE,
		[SHENSU_TYPE],
		COUNT(DISTINCT AD_ID) AS SHENSU
	FROM 
		[BAIXING_ODS].[dbo].[FACT_SHENSU]
	WHERE 
		JULIAN_SHENSU_DATE BETWEEN @JULIAN_START_DATE AND @JULIAN_END_DATE
	GROUP BY 
		JULIAN_SHENSU_DATE,
		SHENSU_TYPE
) AS B ON A.RULES = B.SHENSU_TYPE AND A.JULIAN_DATE = B.JULIAN_SHENSU_DATE
RIGHT JOIN #BANGUI_DATE as C on A.RULES = c.BANGUI AND A.JULIAN_DATE = C.JULIAN_DATE

  
EXEC BAIXING_RPT..SP_TOOL_CALC_MONTHLY_WEEKLY_STATS 
	'#SHENSU', 
	'JULIAN_DATE', 
	'BANGUI,sort', 
	'NUM,SHENSU', 
	'AVG,AVG', 
	@REPORT_MONTHS,
	@REPORT_WEEKS, 
    @REPORT_DAYS,
    0,
    0,
	0; 

--SELECT 
--	JULIAN_DATE,
--	RULES,
--	sort,
--	NUM,
--	SHENSU
--FROM 
--	#SHENSU

DROP TABLE #BANGUI_DATE;
drop table #SHENSU;